  .button1{
    -fx-background-color: #8061c5;
    -fx-background-radius: 20;
    -fx-text-fill: #ffffff;
  }
  .button1:hover{
    -fx-text-fill: #402e58;
  }
  .button1:pressed{
    -fx-text-fill: #350772;
  }
  .button1:active{
    -fx-text-fill: #402e58;
  }

  .button2{
    -fx-background-color: #8061c5;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
  }
  .button2:hover{
    -fx-text-fill: #402e58;
  }
  .button2:pressed{
    -fx-text-fill: #350772;
  }
  .button2:active{
    -fx-text-fill: #402e58;
  }

    .button3{
        -fx-background-color: trsparent;
        -fx-background-radius: 30;
        -fx-text-fill: #000000;
    }
    .button3:hover{
        -fx-text-fill: #402e58;
        -fx-underline: true;
    }
  .linear-grad{
    -fx-background-color: linear-gradient(to bottom left,#402e58 ,#634789 );
  }

  .logo-text {
    -fx-font-size: 48px; /* Increase the font size */
    -fx-font-weight: bold; /* Make the font weight heavier */
    /*-fx-fill: #5B4280; /* Change the text color to tomato red */
    -fx-text-transform: uppercase; /* Keep the text in uppercase */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 2, 2); /* Add a subtle shadow to the text */
    -fx-font-family: 'Berlin Sans FB Demi'; /* Change the font to 'Courier New' */
    /*-fx-font-family: 'Courier New';*/
  }

.normal-text {
  -fx-font-weight: normal; /* Set the font weight */
  -fx-font-family: 'Arial'; /* Set the font to 'Arial' */
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #402e58;
    -fx-pref-width: 15px;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #808080;
    -fx-background-radius: 8.0;
}

.item-pane {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #fe3554;
}

.item-pane .hover-pane {
    -fx-background-color: #E0EEF9;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #fe3554;
}

.item-pane .pressed-pane {
    -fx-background-color: #3E74D6;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-border-color: #fe3554;
}

