.linear-grad4{
    -fx-background-color: linear-gradient(to bottom left,#C6A969 ,#C6A969 );
}

.button {
    -fx-background-color: #C6A969;
    -fx-text-fill: #ffffff;
    -fx-weight: bold;
}
.button:hover {
    -fx-background-color: #597E52;
    -fx-text-fill: #ffffff;
    -fx-weight: bold;
}
.button:pressed {
    -fx-background-color: #3B5436;
    -fx-text-fill: #ffffff;
    -fx-weight: bold;
}
```