.linear-grad{
    -fx-background-color: linear-gradient(to bottom left,#402e58 ,#634789 );
}

.linear-grad-radius {
    -fx-background-color: linear-gradient(to bottom left,#402e58 ,#634789 );
    -fx-background-radius: 0 15 15 0; /* top-left, top-right, bottom-right, bottom-left */
}

.bktransparent {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.chat-scroll-pane {
    /*-fx-background-color: transparent;*/
    -fx-background-image: url('images/chatBack.png');
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

.chat-scroll-pane .viewport {
    -fx-background-color: transparent;
}
.message-send {
    -fx-background-color: #597E52;
    -fx-background-radius: 15 0 15 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 4);
}

.message-receive {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 15 15 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 4);
}
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #402e58;
    -fx-pref-width: 15px;
}
.chat-pane {

}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #808080;
    -fx-background-radius: 8.0;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #402e58;
    -fx-pref-height: 15px;
}

.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #808080;
    -fx-background-radius: 8.0;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.ripple {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-transition: background-color 0.5s ease-in-out;
}

.ripple:hover {
    -fx-background-color: #fe3554;
}

.ripple:pressed {
    -fx-background-color: #fe7d6b;
}

.listBK {
  -fx-background-image:url('file:/C:/Users/Documents/page_background.gif');
}

.personal-Image {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 14px 28px 0 rgba(0, 0, 0, 0.25);
}
